html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body{
    background: black;
    margin-top: 20px;
}

.clearfix {
    clear: both;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.laptop{
    margin: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-container, .bottom-container{
    display: inline-block;
    background-color: black;
    border-radius: 40px;
    box-shadow: inset 0px 0px 10px 7px #333;
    width: 1315px;
    box-sizing: border-box;
    padding: 0px 35px;
}

.top-container .screen-top{
    height: 50px;
}

.top-container .screen-top .web-cam{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: inline;
    top: 20px;
    color: #555;
    font-size: 20px;
    font-weight: bolder;
}

.web-cam .cam-light{
    top: -6px;
    position: relative;
    margin-right: 10px;
}

.top-container .screen{
    display: inline-block;
    height: 760px;
    width: 100%;
    border-radius: 3px;
    background: url(image/wallpaper_1.png) center center;
    background-size: cover;
    box-shadow: inset 0px 0px 3px 2px #666;
}


.top-container .screen-bottom .maker-logo{
    width: 200px;
    margin: 10px auto;
    text-align: center;
}

.top-container .screen-bottom .maker-logo a{
    text-decoration: none
}

.top-container .screen-bottom .maker-logo span{
    font-weight: 900;
    color: rgb(200, 200, 200);
    font-size: 30px;
    margin-left: -4px;
    margin-right: -4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.top-container .screen-bottom .maker-logo .maker-logo-tansform{
    display:inline-block;
    text-align:center;
    margin-left: -8px;
    transform: rotate(-35deg);
}

.bottom-container{
    position: relative;
    padding: 50px;
}

.left-hinge, .right-hinge {
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 50px;
    background-color: #000;
    top: 0px;
    box-shadow: inset 0px 0px 20px 10px #333;
    border-radius: 5px;
}

.left-hinge {
    left: 50px;
}

.right-hinge {
    float: right;
    right: 50px;
}

.power-btn {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 2px #666;
    margin: 30px 15px;
    float: right;
}

.power-btn:before {
    content: "";    
    position: absolute;
    width: 5px;
    height: 30px;
    background-color: #FEE;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 25% 25% 0px 0px;
}

.bottom-container .key-pad .alpha-pad .alpha-pad-row {
    display: flex;
}

.keys{
    position: relative;
    box-shadow: inset 0px 0px 19px 0px #F00;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 20px;
    min-width: 20px;
    text-align: center;
    color: white;
    padding: 15px;
    margin: 5px;
    border-radius: 5px;
}

.top-left-text {
    position: absolute;
    top: 5px;
    left: 10px;
}

.bottom-right-text {
    position: absolute;
    bottom: 7px;
    right: 10px;
    font-size: 11px;
}

.top-text {
    position: absolute;
    top: 3px;
    left: 50%;
    transform: translateX(-50%);
}

.bottom-text {
    position: absolute;
    bottom: 6px;
    left: 50%;
    transform: translateX(-50%);
}

.small-txt {
    font-size: 12px;
    width: 23px !important;
}

.keys-xm-wide{
    width: 25px;
}

.keys-m-wide{
    width: 30px;
}

.keys-x-wide{
    width: 40px;
}

.keys-m-x-wide{
    width: 50px;
}

.keys-xx-wide{
    width: 60px;
}

.keys-xxx-wide{
    width: 80px;
}

.keys-sm-xxx-wide{
    width: 85px;
}

.keys-m-xxx-wide{
    width: 90px;
}

.keys-xxxx-wide{
    width: 100px;
}

.keys-m-xxxx-wide{
    width: 110px;
}

.keys-xxxxx-wide{
    width: 120px;
}

.keys-m-xxxxx-wide{
    width: 130px;
}

.space-bar{
    width: 287px;
}

.model-name {
    color: #BBB;
    padding: 20px 10px 0px 10px;
    /* margin-top: 12px; */
    font: 16px Arial, sans-serif;
    letter-spacing: 1px;
    position: absolute;
}

.touch-pad-sticker-container {
    position: relative;
}

.touch-pad {
    width: 400px;
    height: 250px;
    background-color: #222;
    box-shadow: inset 0px 0px 3px 1px #666;
    border-radius: 10px;
    position: relative;
    margin: 10px auto 0 auto;
    left: -12%;
}

.touch-pad-btn{
    width: 0px;
    height: 30px;
    border-left: 1px solid #666;
    position: absolute;
    bottom: 10px;
    left: 50%;
    display: inline-block;
}

.sticker {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 10px;
    right: 10px;
}

.num-pad{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.num-pad .keys{
    width: 20px;
}

.text-keys{
    font-size: 10px;
}

.alpha-pad{
    float: left;
}

.num-pad{
    float: right;
}

.num-pad .keys.num-pad-plus{
    grid-row-start: 3;
    grid-row-end: 5;
    height: 80px;
    grid-column-start: 4;
}

.num-pad .keys.num-pad-enter{
    grid-row-start: 5;
    grid-row-end: 7;
    height: 80px;
    grid-column-start: 4;
}

.num-pad .keys.num-pad-zero{
    grid-column-start: 1;
    grid-column-end: 3;
    width: 80px;
    grid-row-start: 6;
}

.keys-arrows-container{
    display: grid;
    grid-template-columns: auto auto auto;
    position: relative;
    top: -60px;
}

/* .arrow-key{
    height: 5px;
    font-size: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
} */

.arrow-key-up{
    grid-row-start: 1;
    grid-column-start: 2;
}

.arrow-key-left{
    grid-row-start: 2;
    grid-column-start: 1;
}

.arrow-key-right{
    grid-row-start: 2;
    grid-column-start: 3;
}

.arrow-key-down{
    grid-row-start: 2;
    grid-column-start: 2;
}

.right-click-key{
    font-weight: 200;
}

.right-click-key i{
    padding: 4px;
    border: 1px solid white;
}
